@model IEnumerable<CoffeeShop.Models.Item>
@{
    ViewData["Title"] = "ITEM LIST";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Online Coffee Shop</h1>
    <h5>Book your order and get it faster than you can imagine</h5>
</div>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="border p-3 mt-4 col-3">
            <div class="card-header">
                <h4>
                    <label style="font-size:23px; color:black">@item.Name</label>
                </h4>
            </div>
                <img src="/@item.ItemImage" alt="Card Image" class="card-img-top" style="height:200px"/>
           @* <img src="~/Images/noimage.png" alt="Card Image" class="card-img-top" style="height:200px" />*@
            <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
        <label style="font-size:20px; color:#a51313"><b>Price: @item.Price</b></label>
        </div>
      
        </div>
        </div>
        </div>
    }
</div>
